.input-field {
    width: 90%;
}


.tile-right-aligned > ::ng-deep figure {
    justify-content: flex-end !important;
    overflow: auto !important;
}

.tile-left-aligned > ::ng-deep figure {
    justify-content: flex-start !important;
    padding-left: 15px;
}