<div>
    <mat-grid-list cols="5" rowHeight="70px">
        <mat-grid-tile colspan="2" rowspan="4">
            <img mat-card-image src="../../../../assets/images/defaultCar.png" alt="Error loading image">
        </mat-grid-tile>
        <mat-grid-tile colspan="3" class="tile-left-aligned">
            <h1>{{ carModel.manufacturerName }} {{ carModel.name }}</h1>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" class="tile-left-aligned">
            <h2>{{ carModel.type }}</h2>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" class="tile-left-aligned">
            <h2>{{ carModel.basePriceEuros }} €</h2>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" class="tile-right-aligned"></mat-grid-tile>
    </mat-grid-list>  
</div>

<div class="tabbed-data">
    <mat-tab-group>
        <mat-tab label="Basic information">
            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile class="tile-left-aligned">
                    <mat-form-field class="input-field">
                        <mat-label>Manufacturer name</mat-label>
                        <input matInput readonly [value]="carModel.manufacturerName">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tile-left-aligned">
                    <mat-form-field class="input-field">
                        <mat-label>Model name</mat-label>
                        <input matInput readonly [value]="carModel.name">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tile-left-aligned" colspan="2">
                    <mat-form-field class="input-field">
                        <mat-label>Base price in euros</mat-label>
                        <input matInput readonly [value]="carModel.basePriceEuros">
                        <span matSuffix>‎€</span>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tile-left-aligned">
                    <mat-form-field class="input-field">
                        <mat-label>Body type</mat-label>
                        <input matInput readonly [value]="carModel.type">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tile-left-aligned">
                    <mat-form-field class="input-field">
                        <mat-label>Transmission type</mat-label>
                        <input matInput readonly [value]="carModel.transmission">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tile-left-aligned">
                    <mat-form-field class="input-field">
                        <mat-label>Number of doors</mat-label>
                        <input matInput readonly [value]="carModel.doorsNumber">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tile-left-aligned">
                    <mat-form-field class="input-field">
                        <mat-label>Number of seats</mat-label>
                        <input matInput readonly [value]="carModel.seatsNumber">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tile-left-aligned" colspan="2">
                    <mat-form-field class="input-field">
                        <mat-label>Boot capacity in litres</mat-label>
                        <input matInput readonly [value]="carModel.bootCapacityLitres">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tile-left-aligned" colspan="2">
                    <mat-form-field class="input-field">
                        <mat-label>Top speed in km/h</mat-label>
                        <input matInput readonly [value]="carModel.topSpeedKmh">
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>
        </mat-tab>

        <mat-tab label="Fuel and engine infromation">
            <mat-grid-list cols="1" rowHeight="80px">

                <mat-grid-tile class="tile-left-aligned">
                    <mat-form-field class="input-field">
                        <mat-label>Fuel type</mat-label>
                        <input matInput readonly [value]="carModel.fuelType">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tile-left-aligned">
                    <mat-form-field class="input-field">
                        <mat-label>Engine displacement in ccm</mat-label>
                        <input matInput readonly [value]="carModel.engineDisplacementCcm">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tile-left-aligned">
                    <mat-form-field class="input-field">
                        <mat-label>Engine power in BHP</mat-label>
                        <input matInput readonly [value]="carModel.enginePowerBhp">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tile-left-aligned">
                    <mat-form-field class="input-field">
                        <mat-label>Mileage in kilometers</mat-label>
                        <input matInput readonly [value]="carModel.mileage">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>

        <mat-tab label="Conveniences">
            <mat-selection-list #conviniences [disabled]="true"> 
                <mat-list-option *ngFor="let conv of conviniencesBro; let i = index" [selected]="hasConvenience(i)">
                    {{conv}}
                </mat-list-option>
            </mat-selection-list>
        </mat-tab>
      </mat-tab-group>      
</div>