<div *ngIf="recommendations.length === 0">
  <h1>
    We could not find any suitable cars for you.
  </h1>
</div>

<div *ngIf="recommendations.length > 0">
  <div class="centered">
    <h1>
        You have {{ recommendations.length }} recommendation<span *ngIf="recommendations.length > 1">s</span>:
    </h1>
  </div>

  <mat-card class="example-card">
      <mat-card-header class="centered">
        <mat-card-title>{{ activeRecommendationIndex + 1 }}: {{ activeRecommendation.carModel }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/images/defaultCar.png" alt="Error loading image">
      <mat-card-content class="centered">
        <h1>{{ activeRecommendation.price }} ‎€</h1>
      </mat-card-content>
      <mat-card-actions class="centered">
        <button mat-button *ngIf="activeRecommendationIndex > 0" (click)="onPrevoius()">Previous</button>
        <button mat-raised-button color="primary">More details</button>
        <button mat-button *ngIf="activeRecommendationIndex < recommendations.length - 1" (click)="onNext()">Next</button>
      </mat-card-actions>
  </mat-card>
</div>
  
